body {
    font-family: sans-serif;
    background-color: rgb(0, 122, 245);
}

nav a{
color: black; 
border-radius:50% ;   
border:5px solid black;
background-color: lightblue;
margin: 10px;
padding: 10px;
font-size: 20px;
}

nav a:hover{
    font-size: 30px;
    color: white;
}

h1{
    text-align: center;
    margin: 30px;
background-color: lightblue;
padding: 10px;
}

section{
    border: 3px solid rgb(0, 0, 0);
    margin: 15px;
    padding: 10px;
}
